[submodule "learner"]
	path = learner
	url = https://github.com/VibuRoshin25/Go-Learner-Project
[submodule "learner-auth"]
	path = learner-auth
	url = https://github.com/VibuRoshin25/Node-Learner-Project
[submodule "learner-logger"]
	path = learner-logger
	url = https://github.com/VibuRoshin25/gRPC-Learner-Project
